<div class="window">
    <div class="title-window-top" layout="row"  layout-align="center center">
                 <div layout="row" flex="90" class="title-window" layout-align="center center"><span>Files</span></div>
                 
                    <!-- Space -->
                    <span flex="10"></span>
                  
                  
            <div class="container-id">
                     <md-button layout="row" ng-click="" layout-align="end center" class="md-icon-button close-btn"  aria-label="Favorite" md-ink-ripple="#ffffff" ><md-icon class="material-icons md-light md-48 whiter"> remove </md-icon></md-button>
            </div>
            <div class="container-id">
                     <md-button layout="row" ng-click="" layout-align="end center" class="md-icon-button close-btn"  aria-label="Favorite" md-ink-ripple="#ffffff" ><md-icon class="material-icons md-light md-48 whiter"> aspect_ratio </md-icon></md-button>
            </div>
             <div class="container-id">
                     <md-button layout="row" ng-click="close($event)" layout-align="end center" class="md-icon-button close-btn"  aria-label="Favorite" md-ink-ripple="#ffffff" ><md-icon class="material-icons md-light md-48 whiter"> close </md-icon></md-button>
            </div>
    </div>
    
    <!-- Where we put some default content -->
    <div class="content-container bg-size" style="background-image: url(/public/img/mockups/Chrome.png);" >
        
      
    </div>
</div>