<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Linear OS</title>
     <!-- Angular Material css -->
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="public/css/iconfont/material-icons.css">
    <link rel="stylesheet" href="public/css/jquery-ui.css">
    <link rel="stylesheet" href="public/css/style.css">


</head>

<!-- Loads ng-app / body -->
<body ng-app="myApp" ng-cloak ng-controller="desktopController" layout="column" id="base">
    
    <div id="loader-container"></div>

        <div id="menu" ng-class="{ active: menuAnimation }" class=" md-whiteframe-4dp" ng-show="menuAnimation">
              <div id="menu-container">
                <!-- ng-repeat -->
                <div class="content-menu-icon" ng-repeat="programa in myData.programas">
                      <img ng-src="./public/img/svg/{{programa.icon}}"  class="menu-open-icon"  ng-click="openProgram(programa.id, programa.active)">
                  </div>
                      <md-button class="md-raised" ng-click="addProgram(programa.id)">Button</md-button>

              </div>
         </div>
    
    <div layout="row" layout-align="start end" id="bar-container">
    
      <div id="bar" flex="100" layout='row'>
          
          <div id="icon-menu" flex="5" layout="row" layout-align="center center">
            <div class="container-icon md-whiteframe-2dp"><md-button class="md-icon-button icon-desktop" ng-click="menuAnimation = !menuAnimation" aria-label="Favorite" md-ink-ripple="#FFF"><md-icon class="material-icons md-light md-48">apps</md-icon></md-button></div>          
          </div>
          
          <!-- Space -->
          <span flex="85"></span>
          <!-- End space -->
          
          <!-- Flex del espacio restante / afectado con min-width -->
          <div flex id="bar-right" layout="row" layout-align="center center">
            <div class="container-icon md-whiteframe-2dp" flex="100" layout="row" layout-align="">
                <div id="time" class="whiter" flex="30" layout-align="center center" layout="row"><span>12:00 PM</span></div>
                <md-button class="md-icon-button icon-desktop" ng-click="panelActivo = !panelActivo" ng-class="{ active: animations }" aria-label="Favorite" md-no-ink="true"><md-icon class="material-icons md-light md-48 whiter"> settings </md-icon></md-button>
                <md-button class="md-icon-button icon-desktop " md-no-ink="true" aria-label="Favorite" md-ink-ripple="#FFF"><md-icon class="material-icons md-light md-48 whiter"> battery_full </md-icon></md-button>
                <div flex layout-align="center center" layout="row">
                    <img src="../public/img/me.png" class="md-avatar" alt="Me" />
                    </div>

            </div>          
          </div>
          
      </div>
      
    </div>
    
    <!-- Manually creates the windows because a visual bug with ng-repeat -->
  <div class="ui-widget-content md-whiteframe-5dp draggable default-win" layout="row" id="{{ myData.programas[4].id }}" ng-style="{'width': myData.programas[4].width, 'height': myData.programas[4].height}">
            <window myId="myData.programas[4].id" nombre="myData.programas[4].nombre" bg="myData.programas[4].bgLink"></window>
    </diV>
    <div class="ui-widget-content md-whiteframe-5dp draggable default-win" layout="row" id="{{ myData.programas[7].id }}" ng-style="{'width': myData.programas[7].width, 'height': myData.programas[7].height}">
            <window myId="myData.programas[7].id" nombre="myData.programas[7].nombre" bg="myData.programas[7].bgLink"></window>
    </diV>
    

    <!-- Panel Control -->
     <div class="ui-widget-content md-whiteframe-5dp panel" layout="row" ng-show="panelActivo" id="panel-cont">
           <my-panel></my-panel>
    </diV>

    <!-- Scripts manually -->
    <script src="public/js/jquery-ui/jquery.js"></script>
    <script src="public/js/jquery-ui/jquery-ui.js"></script>
    <script src="public/js/vendor.bundle.js"></script>
    <script src="public/js/app.bundle.js"></script>
    <script src="public/js/functions.js"></script>
    <script src="app/controllers/desktopController.js"></script>
    <script src="app/services/staticData.js"></script>
    <script src="app/directives/panelControl/panel.js"></script>
    <script src="app/directives/window/window.js"></script>
    <script src="public/js/drag-drop/angular-dragdrop.min.js"></script>
</body>
</html>
