/* Desktop Styles */

body, html{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #222;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #4776E6; /* fallback for old browsers */
    
    /* Color Gradient */
    
   /* background: -webkit-linear-gradient(to left, #4776E6 , #8E54E9); /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to left, #4776E6 , #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* Wallpaper */
    background: url("../img/material-wallpaper-2.jpg");
    background-size: cover;
    
    
}

#bar-container{
    height: 100%;
}

#bar{
    height: 55px;
    /*background: rgba(0,0,0,0.2);*/
    width: 100%;
}

.ui-widget-content{
    position: absolute;
    min-width: 320px;
    min-height: 200px;
    border: 0px solid white;
    width: 936px;
    height: 464px;
}

#icon-menu{
    width: 70px;
   /* background: #0F1021; */
    height: 100%;
    min-width: 70px;
    
}

#icon-menu .material-icons, .whiter{
    color: white;
}

#bar-right{
    min-width: 214px;
    width: 210px;
    height: 100%;
    padding-right: 7px;
}

#bar-right .md-button.md-icon-button {
    width: 30px !important;
}

#time span{
    font-size: 0.9rem;
    font-size: 0.8em;
    /* padding: 0px 7px; */
    padding-left: 5px;

}
.container-icon{
    background: rgba(16, 16, 16, 0.77);
    padding: 1px;
}

#bar-right .container-icon{ background: rgb(24, 29, 30);}

.title-window-top{
  position: absolute;
  height: 40px;  
  width: 100%;
  background-color: #313131;
}

#close-btn{
    height: 40px;
    width: 40px;
}

.container-id{
    width: 50px;
    background: rgba(255,255,255,0.1);
    transition: all 0.2s ease-in-out;
}

.container-id:hover {
    background: rgba(0,0,0,0.3);
}

.title-window{
    min-width: 150px; 
    max-width: 300px;
    color: white;
}

.title-window span{
    font-size: 1.1em;
}
.window, .panel-control{
    width: 100%;
    height: 100%;
}

.panel{
    min-width: 440px;
    min-height: 410px;
    background: #f5f5f5;
    max-width: 600px;
}

.content-container{
    width: 100%;
    height: 100%;
}

/* Animations */

/* when hiding the picture */
.ng-hide-add         { animation:0.5s fadeOutRight ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s fadeIn ease; }




/* when hiding the menu */
#menu.ng-hide-add         { animation:0.52s closedMenu ease; }

/* when showing the menu */
#menu.ng-hide-remove      { animation:0.52s showMenu ease; }

/* when showing the menu */
#menu.ng-hide-remove  #menu-container{ animation:0.8s fadeIn ease;}

/* when hiding the menu content */
#menu.ng-hide-add #menu-container { animation:0.90s fadeOut ease;}

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}



@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}


@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}


@keyframes showMenu {
  from {
    width: 0px;
  }

  to {
    width: 100px;
  }
}

.showMenu {
  animation-name: showMenu;
}



@keyframes closedMenu {
  from {
    width: 100px;
    opacity: 1;
  }

  to {
    width: 0px;
    opacity: 0;
    visibility: hidden;
  }
}

.closedMenu {
  animation-name: closedMenu;
}


/* End animations */

#menu{
    position: absolute;
    width: 100px;
    /*height: 400px;*/
    background: rgba(16, 16, 16, 0.89);
    top: 50%;
    transform: translate(0, -50%);

}
 
#menu-container{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.menu-open-icon{
    width: 48px;
}

.content-menu-icon{
    margin: 10px 0px;
}

#chrome{
  background-image: url("/public/img/mockups/Chrome.png");
}

.bg-size{
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.window-relative{
  position: relative;
}

.all{
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
}