<div class='new-border' layout='row' layout-align='center center'><div layout='row' flex='95' layout-align='center center'><span class='name-btn'>Administrador</span><span flex='90'></span>
<div class='removed' ng-click="panelActivo = !panelActivo" ng-class="{ active: animations }"></div></div></div>

<div class="panel-control">
   <!-- <div class="title-window-top window-relative" layout="row"  layout-align="center center">
                 <div layout="row" flex="90" class="title-window" layout-align="center center"><span>Panel Control</span></div>

                    <!-- Space -->
                   <!-- <span flex="10"></span>

           <!-- <div class="container-id">
                     <md-button layout="row" ng-click="" layout-align="end center" class="md-icon-button close-btn"  aria-label="Favorite" md-ink-ripple="#ffffff" ><md-icon class="material-icons md-light md-48 whiter"> remove </md-icon></md-button>
            </div>
            <div class="container-id">
                     <md-button layout="row" ng-click="" layout-align="end center" class="md-icon-button close-btn"  aria-label="Favorite" md-ink-ripple="#ffffff" ><md-icon class="material-icons md-light md-48 whiter"> crop_landscape </md-icon></md-button>
            </div>
             <div class="container-id">
                     <md-button layout="row" ng-click="close($event)" layout-align="end center" class="md-icon-button close-btn"  aria-label="Favorite" md-ink-ripple="#ffffff" ><md-icon class="material-icons md-light md-48 whiter"> close </md-icon></md-button>
            </div>
    </div>
    <!-- Panel pre-definido -->
    <!-- Agregar más controladores para cada tipo -->
    <div id="panel-content" layout="row">

        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="Procesos">
                <md-content class="md-padding">
                  <h1 class="md-display-2 titled">Procesos</h1>
                   <md-divider ></md-divider>
                  <p class="description-text">Listado de los procesos y sus estados - Todos estos procesos son obtenidos de los programas que son abiertos.</p><div ng-repeat="programs in myData.programas" >
                     <section class="container-process">
                       <div class="status-programs" ng-class="programs.stats"></div>
                        <div class="content">{{programs.nombre}} - Estado: <span class="status-indicator">{{programs.stats}}</span> - Memoria RAM: {{programs.mb}}mb - Quantum: {{programs.quantum}}s</div>
                      </section>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Ram">
                <md-content class="md-padding">
                  <h1 class="md-display-2 titled">RAM</h1>
                   <md-divider ></md-divider>
                   <p class="description-text">Aqui se mostrara el consumo de la memoria ram realizado por los elementos activos y en espera del programa. La memoria de solo lectura se verá afectada mediante las aplicaciones en ejecución y espera.</p>
                   <p class="description-text">Slots de memoria RAM: <span>{{ ramValue }} mb</span></p>
                    <div class="inlined" ng-repeat="ramSlots in ramUse track by $index">
                      <div class="circle-simple"
                      >{{ramSlots}}</div>
                    </div>
                    <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary ram-btn" ng-click="compactar()">Compactar</md-button>
                    <md-button class="md-raised md-accent ram-btn">Swap In</md-button>
                    <md-button class="md-raised md-accent ram-btn">Swap Out</md-button>
                    </div>
                    <br/>
                    <h5>
                        Memoria Secundaria
                    </h5>

                </md-content>
              </md-tab>
              <md-tab label="Disco">
                <md-content class="md-padding">
                  <h1 class="md-display-2 titled">Disco duro</h1>
                   <md-divider ></md-divider>
                  <p class="description-text">Capacidad en uso del disco duro, se refleja el uso actual y su espacio usado por los programas abiertos. El manejo del disco está vinculado a la interacción con los programas, si el disco se llenará se avisará al usuario. </p>
                </md-content>
              </md-tab>
              <md-tab label="Perifericos">
                <md-content class="md-padding">
                  <h1 class="md-display-2 titled">Perifericos</h1>
                   <md-divider ></md-divider>
                  <p class="description-text">Listado de los perifericos y sus estados - Este contenido abarca los puertos usados por las aplicaciones y su disponibilidad.</p>
                </md-content>
              </md-tab>
            </md-tabs>
        </md-content>

    </div>
</div>
